"*":
  "atom-beautify":
    bash: {}
    general:
      _analyticsUserId: "0d8609c0-06b0-4e33-a55a-fb773b21ba76"
      showLoadingView: false
    python:
      default_beautifier: "black"
      sort_imports: true
  "atom-ide-outline":
    foldInitially: true
    initialDisplay: false
  "atom-ide-ui":
    use:
      "atom-ide-datatip": "never"
      "atom-ide-definitions": "never"
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-find-references": "never"
      "atom-ide-outline-view": "never"
      "atom-ide-terminal": "never"
  "atom-latex":
    latexmk_param: "-synctex=1 -interaction=nonstopmode --enable-write18 -file-line-error -bibtex -gg -pdf"
  "atom-oss-license":
    name: "Francesco Mannella"
  "atom-python-run": {}
  "autocomplete-python":
    showDescriptions: false
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "rzx-light-ui"
      "monokai-2"
    ]
  "dli-atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    python:
      default_beautifier: "black"
      sort_imports: true
  editor: {}
  "exception-reporting":
    userId: "a438f520-5744-4f6f-8d3c-09e82a4b7afd"
  "gcc-make-run": {}
  "gpp-compiler":
    cppCompilerOptions: "-std=c++11"
  "ide-python":
    pylsPlugins:
      autopep8: {}
      flake8:
        enabled: true
      jedi_completion:
        include_params: false
      jedi_definition:
        enabled: false
      jedi_hover:
        enabled: false
      jedi_references:
        enabled: false
      jedi_signature_help:
        enabled: false
      jedi_symbols:
        all_scopes: false
        enabled: false
      mccabe:
        enabled: false
      preload:
        enabled: false
      pycodestyle:
        enabled: false
      pydocstyle: {}
      pyls_mypy:
        enabled: false
        live_mode: false
  "ipython-run":
    focusOnTerminal: true
  "linter-ui-default":
    panelHeight: 334
  "python-tools":
    pythonPath: "/home/fm/venv3/bin/"
  welcome:
    showOnStartup: false
