"*":
  "atom-beautify":
    bash: {}
    general:
      _analyticsUserId: "0d8609c0-06b0-4e33-a55a-fb773b21ba76"
      showLoadingView: false
    python:
      default_beautifier: "black"
      sort_imports: true
  "atom-ide-outline":
    foldInitially: true
    initialDisplay: false
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": "never"
      "atom-ide-terminal": "never"
  "atom-latex":
    latexmk_param: "-synctex=1 -interaction=nonstopmode -file-line-error -bibtex -gg -pdf"
  "atom-oss-license":
    name: "Francesco Mannella"
  "atom-python-run": {}
  "autocomplete-python":
    useKite: false
  core:
    disabledPackages: [
      "markdown-preview"
      "ipython-run"
    ]
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: []
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "pacific-dark"
    ]
  "dli-atom-beautify":
    general:
      beautifyEntireFileOnSave: false
    python:
      default_beautifier: "black"
      sort_imports: true
  editor: {}
  "exception-reporting":
    userId: "a438f520-5744-4f6f-8d3c-09e82a4b7afd"
  "gcc-make-run": {}
  "gpp-compiler":
    cppCompilerOptions: "-std=c++11"
  "ipython-run":
    focusOnTerminal: true
  "linter-ui-default":
    panelHeight: 334
  "python-tools":
    pythonPath: "/home/fm/venv3/bin/"
  welcome:
    showOnStartup: false
