'atom-text-editor:not([mini])':
  'alt-enter': 'hydrogen:run-all-above'
  'alt-enter': 'hydrogen:run-all-above'
  'alt-enter': 'hydrogen:run-all-above'
  'alt-k': 'hydrogen:shutdown-kernel'
'atom-text-editor[data-grammar="source python"]':
  'ctrl-alt-m': 'python-autopep8:format'
